<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Bootstrap Recreation</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
</head>
<body>

<div class="container custom-modal">
  <div class="row">
    <div class="col-md-6 mb-3">
      <!--      TODO - Keep this address updated-->
      <form action="http://localhost:3000/search" class="form-group" method="POST">
        <label for="searchTerm">Search:</label>
        <input class="form-control custom-input" type="text" name="searchTerm" id="searchTerm" required>
      </form>
    </div>
    </br>
    <div class="searchResults">
      {{{results}}}
    </div>
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label for="sortSelect">Sortieren nach</label>
        <select class="form-control custom-input" id="sortSelect">
          <option>Sortieren</option>
          <option>Option 1</option>
          <option>Option 2</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <button class="btn btn-primary custom-button" type="submit">Filter anwenden</button>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
