<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bootstrap Recreation</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
</head>
<body>

<style>
  @page {
    width: 10px;
    size: 1px;
    margin: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Added a light background for contrast */
    width: 100%;
    max-width: 900px; /* or whatever width you want */
  }

  .product {
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, border-color 0.3s ease-in-out;
  }

  .product:hover {
    border: 1px solid #0078a8;
    box-shadow: 4px 4px 7px rgba(0, 120, 168, 0.4);
    transition: box-shadow 0.3s, border-color 0.3s ease-in-out;
  }

  .custom-modal {
    width: 100%; /* Adjust to a percentage value to fill more of the screen width */
    max-width: 840px; /* Optional: set a maximum width if needed */
    margin: 50px auto; /* Centers the modal horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; /* White background only for the modal */
  }

  .custom-button {
    background-color: #009ddb;
  }
</style>

<button class="w-100"> YO</button>

<div class="container">
  <div class="custom-modal">
    <div class="row">
      <div class="mb-3">
        <!-- TODO - Keep this address updated -->
        <form action="http://localhost:3000/search" class="form-group" method="POST">
          <input class="form-control w-100 custom-input" type="text" name="searchTerm" id="searchTerm" required>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 m-auto mt-3">
    <div class=" row searchResults justify-content-center">
      {{{results}}}
    </div>
  </div>
  <div class="row">
    <div class="mb-3">
      <button class="btn btn-primary custom-button" type="submit">Filter anwenden</button>
    </div>
  </div>
</div>

<!-- Moved the search results here -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
